
.vertical_bar{
    width: 10%;
    height: 100vh;
     margin: 0;
     background-color: black;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content:space-evenly;

    }



.copyright_text{
    font-size: 12px;
    color: white;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    margin-bottom: 164px;
    margin-top:59px ;
   
}