.custom-tooltip_session{
    background-color: white;
    font-weight: 500;
    color: #20253A;
    font-size: 12px;
    padding: 2px;
}

.session_chart_div{
    display: flex;
    justify-content: center;
}

.custom-legend{
    display: block;
    text-align: left;
    padding-left: 15%;
    font-size: 15px;
    opacity: 0.54;
    
}
