.bar_chart{
    position: relative;
    width: 100%;
    height: 320px;
    background-color: #FBFBFB;
    border-radius: 5px;
}

.bar_chart_title{
    position: absolute;
    top : 24px;
    left: 32px;
    font-weight: 500;
    font-size: 15px;
    color: #20253A;
}

.bar_chart_axis_number{
    color: #9B9EAC ;
}
.custom-tooltip{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    width: 39px;
    height: 63px;
    padding: 4px;
    text-align: center;
    color: white;
    font-size: 7px;
    font-weight: 500;
    background-color: #E60000;

    p{
        line-height: 24px;
        margin: 0;
    }

}

.bar_chart_legend{
    font-size: 14px;
    color: #74798C;
}

.user_small_grah_container{
    margin-top: 29px;
    display: flex;
    justify-content: space-between;
}

.small_chart{
 background: #FBFBFB;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
border-radius: 5px;
height: 263px;
width: 258px;



}

.score_chart{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: white;

    ul{
       li{
        width: 70%;
       }
    }
}
.score_title{
    margin: 0;
    padding: 24px;
    font-size: 15px;
    width: 80%;
}

.bar_chart_legend_percent{
    font-size: 26px;
    font-weight: 700;
    color:  #282D30;
}

.bar_chart_legend{
    font-weight: 500;
    font-size: 16px;

  

}


