
.greetings{
    margin-bottom: 1.2em;
    h1{
        font-size: 48px;
       margin-bottom: 0.2em;
    }
    .greettings_name{ 
        color: #FF0101;
    }
}


.greetings_message{
    margin: 0;
    font-size: 18px ;
}




.user_content{
    width: 100%;
    margin-left: 2em;    
    margin-right: 4%;
}

.user_stats{
    display: flex;
    justify-content: space-between;
}

.all_charts_container{

   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width:74%;
   color: rgb(6, 8, 8);

}

.user_nutrition_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 23%;
    height: 67vh;
}

.small_charts_container{
    width: 100%;
    height: 30vh;
    margin-top: 29px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.small_chart{
    width: 30%;
    height: 100%;
    border-radius: 6px;

}


