
.nav_container{
    width: 70%;
    margin-right: 5%;
}

.main_nav{
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 500;
    margin: 0;
    a:last-child{
        margin-right: 1%;
    }
    a{
        color: #FFFF;
        text-decoration: none;
    }
}

.app_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1em 0 1em 0;
    background-color: black;
}


.logo_container{
    width: 24%;
    margin-right: 10px;
    img{
        margin-left: 29px;
        width: 178px;
        height: 60.93px;
    }
   
}